<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DIALOGFLOW_KEY</key>
	<string>$(DIALOGFLOW_KEY)</string>
	<key>MONGO_API_KEY</key>
	<string>$(MONGO_API_KEY)</string>
	<key>OAUTH_KEY</key>
	<string>$(OAUTH_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>EBGaramond-Regular.otf</string>
		<string>EBGaramond-Italic.otf</string>
	</array>
</dict>
</plist>
